
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to image_tag('logo.jpg', class: 'logo-img'), root_path, class:"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul class="nav navbar-nav navbar-right">
        <li><%=link_to '<span class="glyphicon glyphicon-home"></span> Home'.html_safe, root_url %></li>
        <% if user_signed_in? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Account
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Profile'.html_safe, user_path(current_user) %></li>
                <li><%= link_to '<span class="glyphicon glyphicon-edit"></span> Update'.html_safe, edit_user_path(current_user) %></li>
                <li><%= link_to '<span class="glyphicon glyphicon-log-out"></span> Log out'.html_safe, destroy_user_session_path, :method => :delete %></li>
                <li><%= link_to '<span class="glyphicon glyphicon-remove"></span> Delete'.html_safe, user_path(current_user), :method => :delete, 'data-confirm': 'Are you sure?' %></li>
              </ul>
            </li>
        <% else %>
            <li>
              <%=link_to '<span class="glyphicon glyphicon-user"></span> Login'.html_safe, new_user_session_path %>
            </li>
            <li>
              <%=link_to '<span class="glyphicon glyphicon-registration-mark"></span> Signup'.html_safe,  new_user_registration_path %>
            </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
